minecraft/saves/*
minecraft/crash-reports/*
minecraft/logs/*
minecraft/local/*
minecraft/xaero/*
minecraft/debug/*
minecraft/dynamic-data-pack-cache/*
minecraft/dynamic-resource-pack-cache/*
minecraft/options.txt
minecraft/ponders_watched.json
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/command_history.txt
minecraft/emi.json
minecraft/.mixin.out
minecraft/.sable
minecraft/.vscode
minecraft/.probe/*
minecraft/journeymap/*
minecraft/options.txt